/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.deploy*/
.DS_Store
.env
.env.backup
.phpunit.result.cache
*.log
db.json
Homestead.json
Homestead.yaml
package-lock.json
public/
npm-debug.log
src/_drafts
Thumbs.db
yarn-error.log